* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(7, 8, 9);
    font-family: sans-serif;
    letter-spacing: .04em;
    font-size: 0.9em;
    color: rgb(49, 120, 198);
    text-transform: capitalize;

    height: 100vh;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
    width: 6px;
    border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
    background: #c6c6c650;
    display: none;
    width: 6px;
    border-radius: 12px;
}

.container {
    width: 90%;
    margin: auto;
}

ul {
    width: auto;
    height: auto;
    transition: all 0.01s ease-in-out;
}

li {
    width: fit-content;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    list-style-type: none;
}

.folder {
    width: 100%;
    height: fit-content;
    width: fit-content;
    padding: 0.4em 0;
}

p {
    width: fit-content;
    cursor: pointer;
    color: #d2d2d2;
    padding: 0.4em 0;
}